body {
  font-family: Helvetica;
}

#root {
}

.container {
  width: 100%;
  display: flex;
  margin: 0;
}

.left-side {
  background-color: #f5f5f5;
  width: 60%;
}

.right-side {
  background-color: red;
  width: 40%;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.flat-list {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  padding:12px;
}

.flat {
  height: 250px;
  width: 300px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  position: relative;
}

.marker {
  color: red;
  // font-size: 25px;
}
